.no-search {
    display: none;
}

.filtered-movie-card {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

.filtered-movie-cards-container {
    position:fixed ;
    overflow: hidden;
    width: 40%;
    height: 300px;
    top: var(--header-height);
    left: 27%;
    

}

.filtered-movie-image {
    width: 150px;
    padding: 5px 0;
}

.filtered-movie-title {
    padding-right: 15px;
}