.home-page {
    min-height: 100vh;
    background-color: var(--white);
    margin-top: var(--header-height);
}

.home-page-dark {
    background-color: rgb(27, 27, 27);
}

.home-page-body {
    display: flex;
    background-color: var(--white);
    padding: 15px 25px;
    justify-content: space-between;
}

.home-page-body-dark {
    background-color: rgb(27, 27, 27);
}

@media (max-width:1018px) {
    .home-page-body {
        flex-wrap: wrap;
    }
}