.home-page {
    min-height: 100vh;
    background-color: var(--white);
    margin-top: var(--header-height);
}

.home-page-dark {
    background-color: rgb(27, 27, 27);
}

.home-page-body {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white);
}

.home-page-body-dark {
    background-color: rgb(27, 27, 27);
}