.movie-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2em;
}

h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.popular-movies-container {
    max-width: 80%;
}


.popular-movies-container-dark {
    color: var(--white);
}

.page-numbers {
    display: flex;
    justify-content: space-around;
    margin: 18px auto;
    cursor: pointer;
}

.page-numbers p.active {
    text-decoration: underline;
}

@media (max-width:1018px) {
.popular-movies-container {
    max-width: 100%;
}
.movie-cards-container {
    justify-content: center;
}
}