.my-favorites-page-container {
    margin-top: var(--header-height);
    color: black;
    min-height: 100vh;
    background-color: white;
}

.my-favorites-page-container-dark {
    margin-top: var(--header-height);
    color: white;
    min-height: 100vh;
    background-color: var(--dark-bg);
}

.favorite-movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logged-in-header {
    width: 100%;
}

.logged-out-header {
    width: 100%;
    filter: grayscale(100%);
}

.my-favorites-title {
    margin: 10px 0 10px 10px;
}

.signin-no {
    text-decoration: none;
    color: var(--red);
}

.signin-no-text {
    margin: 10px 10px;
    font-size: larger;
}