.home-page {
    min-height: 100vh;
    background-color: var(--white);
    margin-top: var(--header-height);
}

.home-page-dark {
    background-color: var(--dark-bg);
}

.home-page-body {
    display: flex;
    background-color: var(--white);
    padding: 15px 5px 15px 5px;
    justify-content: space-between;
}

.home-page-body h3{
    padding: 0.2em 1em;
}

.home-page-body-dark {
    background-color: var(--dark-bg);
}

@media (max-width:1018px) {
    .home-page-body {
        flex-wrap: wrap;
    }
}